
	
	

	
	
	.g-NavSite__sec--page-menu {
		.g-NavSite__item {
			color: #746661 !important;
		}	
	}
	
	
	/*	Full-width image
		---------------- */
	

/*
	.l-header {
		margin: 0 !important;
		padding-top: 1em !important;

		@media (min-width: 900px) {
			padding-top: 2em !important;
		}
			
		img {
			margin-top: 1.9rem;
			width: 100%;

			@media (min-width: 600px) and (max-width: 900px) {
				margin-top: 9.9rem;
			}
		}
	}
*/



/*	@media (min-width: 600px) {
		.u-masthead {
			b {
				visibility: hidden;
				position: absolute;
			}
		}
	} */

}
	
	




