/*	SEARCH OVERRIDE
	================================ */
/* Vassar College Search Stylesheet
 * v1.0
 * Last Updated: 2012-06-12 
 *
 * Styles for Search.
 * Only included it search module is turned on.
 *
 */
/* ==========================================================================
   Typography
   ========================================================================== */
.m-search {
  font: 0.75em Verdana, Helvetica, Arial, sans-serif;
}

.m-search-field {
  font-size: 16px;
  font-size: 1rem;
  /*		font-size: 1rem;
  	*/
}

@media all and (min-width: 600px) {
  .m-search-field {
    font-size: 12.8px;
    font-size: 0.8rem;
    	/*	font-size: .8rem;
    */
  }
}
/* ==========================================================================
   Layout
   ========================================================================== */
@media screen {
  .m-search-container input::-webkit-input-placeholder {
    color: #aaa;
    font-weight: 100;
  }

  .m-search-container input:-moz-placeholder {
    color: #aaa;
    font-weight: 100;
  }

  /* Search */
  .m-search-submit {
    background: none !important;
  }

  .m-search-container {
    display: block;
    border: 1px solid #aaaaaa;
    /*    position: absolute;
        top: 12em;
        left: 0; */
    position: relative;
    overflow: hidden;
    width: auto;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
    margin: 1.6em 6% 0 6%;
    height: 2em;
  }

  .m-search {
    white-space: nowrap;
  }

  .m-search input {
    position: absolute;
    height: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: transparent;
    font-size: 22.4px;
    font-size: 1.4rem;
    font-family: "proxima-nova";
  }

  .m-search-field {
    padding: 0 0 0 0em;
    margin: 0;
    width: 78%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .m-search-submit {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 22.4px;
    padding: 0 1.4rem;
    /*			padding: 0 1.4rem;
    	*/
    border: 1px solid red;
    background: rgba(0, 0, 0, 0.1) !important;
  }
}
@media all and (min-width: 600px) {
  .m-search input {
    font-size: 0.8em;
  }

  .m-search-container input::-webkit-input-placeholder {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  .m-search-container input:-moz-placeholder {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  }

  .m-search-container {
    position: absolute;
    width: 192px;
    width: 12rem;
    right: 32px;
    right: 2rem;
    top: 32px;
    top: 2rem;
    /*		width: 12rem;
    		right: 2rem;
    		top: 2rem;
    		*/
    z-index: 999;
    display: block;
    background: #eee;
    margin: 0;
    height: 32px;
    height: 2rem;
    /*		height: 2rem;
    	*/
    border: none;
  }

  .m-search {
    height: inherit;
    border: none;
  }

  .m-search-submit {
    padding: 0;
    width: 32px;
    width: 2rem;
    /*		width: 2rem;	
    	*/
  }

  .m-search-container {
    background: #eb4200 !important;
    top: 0 !important;
  }

  .m-search-submit {
    background: none !important;
  }

  .m-search-container input:-moz-placeholder {
    color: white !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  .m-search-container input::-moz-placeholder,
  .m-search-container input::-webkit-input-placeholder {
    color: white !important;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
}

	.m-search-container {
		@media (min-width: $large) {
		    top: -4.4em !important;
		}
	}






/*	======
	New design
	====== */

	.m-search-field {
	    padding-left: 0.4em;
	
		@media (min-width: 600px) {
		    color: #fff;
		}
	}
	@media (min-width: 600px) {
		.m-search-container {
			background: $VC__vassarBurgundy !important;
			border: 1px solid #fff;
			top: -3.6em !important;
			right: 1rem;
		}
		.m-search input {
		    padding-left: 1em;
		}
		.u-navsite-level-2 {
			border-color: $VC__vassarBurgundy;
		}
		input.m-search-submit {
			color: #fff;
			opacity: 0.4;
			padding-right: 2em;
			
			&:hover {
				background: rgba(255,255,255,0.2) !important;
				color: #fff;
				opacity: 1;
			}
		}
	}
