.social-grid {
	img {
		transition: all ease 0.4s;
		width: 100%;
	}

	@media (min-width: $small) {
		margin: 2em auto;
		width: 80%;
		display: flex;
		
		.grid-item {
			padding: 1em;
			width: 33%;
			
			&:hover {
				img {
					transform: scale(1.1);
				}
			}
		}
	}
}